@charset "UTF-8";
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.header {
  padding: 16px 0;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: #fa8c16;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 58px;
}

.header__logo-icon {
  fill: #ffffff;
  width: 49px;
  height: 24px;
}

.header__toggle-navigation {
  display: none;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}

.header__toggle-navigation-icon {
  fill: #fff;
  width: 14px;
  height: 14px;
}

.header__toggle-navigation span {
  margin-right: 5px;
}

.header__navigation {
  -ms-flex-preferred-size: 255px;
      flex-basis: 255px;
  margin-right: auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.header__menu-link {
  position: relative;
  color: #fafafa;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
}

.header__menu-link::after {
  content: '';
  display: block;
  position: absolute;
  top: 38px;
  width: 100%;
  height: 3px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}

.header__menu-link:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__search {
  -ms-flex-preferred-size: 237px;
      flex-basis: 237px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.header__search-input {
  -ms-flex-preferred-size: 206px;
      flex-basis: 206px;
  padding: 4px 0 4px 11px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 4px;
  border: none;
}

.header__search-input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.header__search-input:-ms-input-placeholder {
  color: #bfbfbf;
}

.header__search-input::-ms-input-placeholder {
  color: #bfbfbf;
}

.header__search-input::placeholder {
  color: #bfbfbf;
}

.header__search-input:focus {
  outline: none;
}

.header__search-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 7px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header__search-button:focus {
  outline: 1px solid #bfbfbf;
}

.header__search-icon {
  fill: #fa8c16;
  width: 14px;
  height: 14px;
}

.header__toggle-sidebar {
  display: none;
  width: 60px;
  border: none;
  background-color: transparent;
}

.sidebar {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
}

.sidebar__navigation {
  margin-bottom: 30px;
  border: 1px solid #e8e8e8;
}

.sidebar__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 25px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fafafa;
}

.sidebar__user-image {
  margin-right: 17px;
}

.sidebar__user-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar__user-nickname {
  margin-right: auto;
}

.sidebar__user-nickname p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.sidebar__user-logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sidebar__user-logout:focus {
  outline: 1px solid #bfbfbf;
}

.sidebar__user-logout-icon {
  fill: #000000;
  width: 22px;
  height: 22px;
}

.sidebar__menu {
  list-style: none;
}

.sidebar__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__menu-link {
  position: relative;
  width: 100%;
  padding: 16px 0 16px 48px;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  background-color: #fff;
  color: #595959;
}

.sidebar__menu-link_active {
  background-color: #fffbe6;
  color: #faad14;
}

.sidebar__menu-link::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #faad14;
}

.sidebar__menu-link:hover {
  color: #faad14;
  background-color: #fffbe6;
}

.sidebar__menu-link:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.sidebar__publish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 13px;
  border-radius: 4px;
  background-color: #faad14;
  border: none;
  cursor: pointer;
}

.sidebar__publish-icon {
  fill: #ffffff;
  width: 12px;
  height: 14px;
  margin-right: 6px;
}

.sidebar__publish-text p {
  color: white;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.sidebar__publish:focus {
  outline: 1px solid #bfbfbf;
}

.sidebar__bestcomment {
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
}

.sidebar__bestcomment-body {
  padding: 23px 25px 30px 25px;
}

.sidebar__bestcomment-header {
  padding: 23px 0 23px 25px;
  background-color: #fafafa;
  border-bottom: 1px solid #e8e8e8;
}

.sidebar__bestcomment-header h2 {
  font-weight: 600;
  color: #595959;
  font-size: 16px;
  line-height: 24px;
}

.sidebar__bestcomment-title {
  margin-bottom: 10px;
}

.sidebar__bestcomment-title p {
  color: #faad14;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.sidebar__bestcomment-text p {
  height: 180px;
  color: #262626;
  font-size: 14px;
  line-height: 22px;
  overflow: auto;
}

.sidebar__advert-link {
  position: relative;
  display: block;
}

.sidebar__advert-link::after {
  content: 'Реклама';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100px;
  height: 21px;
  background-color: #c4c4c4;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.sidebar__advert-link img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  max-width: 1000px;
  border: 1px solid;
}

.item {
  background-color: red;
  border: 1px solid;
}

.item:not(:last-child) {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  width: 20%;
}

.item:last-child {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

body {
  font-family: "SFProDisplay", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  background-color: #f5f5f5;
}

.content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

.articles {
  -ms-flex-preferred-size: 800px;
      flex-basis: 800px;
  margin-right: 30px;
}

.articles__item {
  margin-bottom: 30px;
}

.article {
  background-color: #ffffff;
  color: #262626;
  border: 1px solid #e8e8e8;
}

.article__body {
  padding: 35px 35px 0 35px;
}

.article__header {
  margin-bottom: 20px;
}

.article__header h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.article__text {
  margin-bottom: 10px;
}

.article__text p {
  font-size: 14px;
  line-height: 22px;
}

.article__text p:not(:last-child) {
  margin-bottom: 25px;
}

.article__hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article__hashtags-item {
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  color: #bfbfbf;
}

.article__hashtags-item:not(:last-child) {
  margin-right: 10px;
}

.article__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 35px;
  border-top: 1px solid #e8e8e8;
  background-color: #fafafa;
}

.article__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__author-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 9px;
  font-size: 12px;
  line-height: 20px;
}

.article__author-nickname {
  text-align: left;
  text-decoration: none;
  color: #8c8c8c;
}

.article__author-lastseen {
  color: #bfbfbf;
}

.article__author-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__author-image a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__author-image a img {
  width: 34px;
  height: 34px;
  border-radius: 4px;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions__likes-icon {
  margin-right: 7px;
  fill: #8c8c8c;
}

.actions__comments-icon {
  fill: #8c8c8c;
  margin-right: 7px;
}

.actions__save-icon {
  fill: #8c8c8c;
}

.actions__share-icon {
  fill: #8c8c8c;
}

.actions__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: #8c8c8c;
  font-size: 14px;
  line-height: 22px;
}

.actions__button:not(:last-child) {
  margin-right: 30px;
}

.actions__button:focus, .actions__button:active {
  outline: 1px solid #8c8c8c;
}

.actions__icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 991px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 66px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
  }
  .header__body {
    position: relative;
  }
  .header__logo {
    margin-right: 20px;
  }
  .header__toggle-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
  }
  .header__navigation {
    width: 100%;
    -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: -webkit-transform  0.5s;
    transition: -webkit-transform  0.5s;
    -o-transition: transform  0.5s;
    transition: transform  0.5s;
    transition: transform  0.5s, -webkit-transform  0.5s;
    position: absolute;
    top: 50px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px  #e7810cbd;
            box-shadow: 0 0 5px  #e7810cbd;
  }
  .header__navigation.visible-navigation {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    background-color: #fff;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu-link {
    -webkit-box-shadow: 0 0 5px #e7810c77;
            box-shadow: 0 0 5px #e7810c77;
    display: block;
    text-align: center;
    padding: 15px;
    color: #fa8c16;
  }
  .header__search-input {
    width: 50%;
  }
  .header__toggle-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content__body {
    padding-bottom: 30px;
    padding-top: 90px;
  }
  .sidebar {
    position: fixed;
    top: 66px;
    right: 0;
    bottom: 0;
    z-index: 101;
    max-width: 320px;
    padding: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px -5px;
            box-shadow: 0 0 10px -5px;
    -webkit-transform: translateX(110%);
        -ms-transform: translateX(110%);
            transform: translateX(110%);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    overflow: auto;
  }
  .sidebar.visible {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .header__toggle-navigation {
    margin-right: auto;
  }
  .header__search {
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .header__navigation {
    top: 49px;
  }
  .header__search {
    display: none;
  }
  .sidebar {
    top: 66px;
    max-width: 100%;
    width: 480px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 991px) {
  .content__body {
    padding-top: 96px;
  }
  .articles {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .article__body {
    padding: 20px;
  }
  .article__footer {
    padding: 20px;
  }
  .article__author-lastseen {
    text-align: right;
  }
  .actions__button:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 360px) {
  .article__body {
    padding: 15px;
  }
  .article__footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;
  }
  .article__actions {
    margin-bottom: 0;
  }
  .article__author-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .actions {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }
  .actions__comments {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .actions__button:not(:last-child) {
    margin-right: 0;
  }
}
