@charset "UTF-8";
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.header {
  padding: 16px 0;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-color: #fa8c16;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 58px;
}

.header__logo-icon {
  fill: #ffffff;
  width: 49px;
  height: 24px;
}

.header__toggle-navigation {
  display: none;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}

.header__toggle-navigation-icon {
  fill: #fff;
  width: 14px;
  height: 14px;
}

.header__toggle-navigation span {
  margin-right: 5px;
}

.header__navigation {
  -ms-flex-preferred-size: 255px;
      flex-basis: 255px;
  margin-right: auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.header__menu-link {
  position: relative;
  color: #fafafa;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
}

.header__menu-link::after {
  content: '';
  display: block;
  position: absolute;
  top: 38px;
  width: 100%;
  height: 3px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}

.header__menu-link:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__search {
  -ms-flex-preferred-size: 237px;
      flex-basis: 237px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.header__search-input {
  -ms-flex-preferred-size: 206px;
      flex-basis: 206px;
  padding: 4px 0 4px 11px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 4px;
  border: none;
}

.header__search-input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.header__search-input:-ms-input-placeholder {
  color: #bfbfbf;
}

.header__search-input::-ms-input-placeholder {
  color: #bfbfbf;
}

.header__search-input::placeholder {
  color: #bfbfbf;
}

.header__search-input:focus {
  outline: none;
}

.header__search-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 7px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header__search-button:focus {
  outline: 1px solid #bfbfbf;
}

.header__search-icon {
  fill: #fa8c16;
  width: 14px;
  height: 14px;
}

.header__toggle-sidebar {
  display: none;
  width: 60px;
  border: none;
  background-color: transparent;
}

.sidebar {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
}

.sidebar__navigation {
  margin-bottom: 30px;
  border: 1px solid #e8e8e8;
}

.sidebar__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 25px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fafafa;
}

.sidebar__user-image {
  margin-right: 17px;
}

.sidebar__user-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar__user-nickname {
  margin-right: auto;
}

.sidebar__user-nickname p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.sidebar__user-logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sidebar__user-logout:focus {
  outline: 1px solid #bfbfbf;
}

.sidebar__user-logout-icon {
  fill: #000000;
  width: 22px;
  height: 22px;
}

.sidebar__menu {
  list-style: none;
}

.sidebar__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__menu-link {
  position: relative;
  width: 100%;
  padding: 16px 0 16px 48px;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  background-color: #fff;
  color: #595959;
}

.sidebar__menu-link_active {
  background-color: #fffbe6;
  color: #faad14;
}

.sidebar__menu-link::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #faad14;
}

.sidebar__menu-link:hover {
  color: #faad14;
  background-color: #fffbe6;
}

.sidebar__menu-link:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.sidebar__publish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 13px;
  border-radius: 4px;
  background-color: #faad14;
  border: none;
  cursor: pointer;
}

.sidebar__publish-icon {
  fill: #ffffff;
  width: 12px;
  height: 14px;
  margin-right: 6px;
}

.sidebar__publish-text p {
  color: white;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.sidebar__publish:focus {
  outline: 1px solid #bfbfbf;
}

.sidebar__bestcomment {
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
}

.sidebar__bestcomment-body {
  padding: 23px 25px 30px 25px;
}

.sidebar__bestcomment-header {
  padding: 23px 0 23px 25px;
  background-color: #fafafa;
  border-bottom: 1px solid #e8e8e8;
}

.sidebar__bestcomment-header h2 {
  font-weight: 600;
  color: #595959;
  font-size: 16px;
  line-height: 24px;
}

.sidebar__bestcomment-title {
  margin-bottom: 10px;
}

.sidebar__bestcomment-title p {
  color: #faad14;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.sidebar__bestcomment-text p {
  height: 180px;
  color: #262626;
  font-size: 14px;
  line-height: 22px;
  overflow: auto;
}

.sidebar__advert-link {
  position: relative;
  display: block;
}

.sidebar__advert-link::after {
  content: 'Реклама';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100px;
  height: 21px;
  background-color: #c4c4c4;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.sidebar__advert-link img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "SFProDisplay", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  background-color: #f5f5f5;
}

.content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

.new-post {
  -ms-flex-preferred-size: 800px;
      flex-basis: 800px;
  margin-right: 30px;
}

.form {
  font-size: 16px;
}

.form__add-title {
  min-width: 100%;
  margin-bottom: 16px;
  padding: 25px 31px 25px 31px;
  border: 1px solid #e8e8e8;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.form__add-title::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.form__add-title:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.form__add-title::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.form__add-title::placeholder {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.form__add-text {
  min-width: 100%;
  min-height: 362px;
  margin-bottom: 30px;
  padding: 23px 31px;
  resize: none;
  border: 1px solid #e8e8e8;
  font-size: 14px;
  color: #595959;
}

.form__add-text::-webkit-input-placeholder {
  font-size: 14px;
  color: #595959;
}

.form__add-text:-ms-input-placeholder {
  font-size: 14px;
  color: #595959;
}

.form__add-text::-ms-input-placeholder {
  font-size: 14px;
  color: #595959;
}

.form__add-text::placeholder {
  font-size: 14px;
  color: #595959;
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__publish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  padding: 13px 0;
  margin-right: 36px;
  line-height: 24px;
  border-radius: 4px;
  background-color: #faad14;
  color: #fff;
}

.form__publish-icon {
  margin-right: 6px;
  fill: #fff;
  width: 12px;
  height: 14px;
}

.form__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 125px;
      flex-basis: 125px;
  margin-right: 12px;
  padding: 13px 16px;
  border-radius: 4px;
  border: 1px solid #ffc53d;
  background-color: #ffffff;
  line-height: 24px;
  color: #ffc53d;
}

.form__video-icon {
  margin-right: 5px;
  fill: #ffc53d;
  width: 14px;
  height: 12px;
}

.form__video p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form__photo {
  -ms-flex-preferred-size: 125px;
      flex-basis: 125px;
  padding: 13px 16px;
  border-radius: 4px;
  border: 1px solid #ffc53d;
  background-color: #ffffff;
  line-height: 24px;
  color: #ffc53d;
}

.form__photo-icon {
  margin-right: 5px;
  fill: #ffc53d;
  width: 14px;
  height: 12px;
}

.form__photo p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 991px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 66px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
  }
  .header__body {
    position: relative;
  }
  .header__logo {
    margin-right: 20px;
  }
  .header__toggle-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
  }
  .header__navigation {
    width: 100%;
    -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: -webkit-transform  0.5s;
    transition: -webkit-transform  0.5s;
    -o-transition: transform  0.5s;
    transition: transform  0.5s;
    transition: transform  0.5s, -webkit-transform  0.5s;
    position: absolute;
    top: 50px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px  #e7810cbd;
            box-shadow: 0 0 5px  #e7810cbd;
  }
  .header__navigation.visible-navigation {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    background-color: #fff;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu-link {
    -webkit-box-shadow: 0 0 5px #e7810c77;
            box-shadow: 0 0 5px #e7810c77;
    display: block;
    text-align: center;
    padding: 15px;
    color: #fa8c16;
  }
  .header__search-input {
    width: 50%;
  }
  .header__toggle-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content__body {
    padding-bottom: 30px;
    padding-top: 90px;
  }
  .sidebar {
    position: fixed;
    top: 66px;
    right: 0;
    bottom: 0;
    z-index: 101;
    max-width: 320px;
    padding: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px -5px;
            box-shadow: 0 0 10px -5px;
    -webkit-transform: translateX(110%);
        -ms-transform: translateX(110%);
            transform: translateX(110%);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    overflow: auto;
  }
  .sidebar.visible {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .header__toggle-navigation {
    margin-right: auto;
  }
  .header__search {
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .header__navigation {
    top: 49px;
  }
  .header__search {
    display: none;
  }
  .sidebar {
    top: 66px;
    max-width: 100%;
    width: 480px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 991px) {
  .new-post {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .form__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form__publish {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .form__video {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .form__photo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
