@import fonts

@import variables

@import header

@import sidebar

@import media
@import media_new_post


*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: "SFProDisplay", sans-serif

.container
    max-width: 1200px
    margin: 0 auto

.content
    background-color: $color-content-background
    &__body
        display: flex
        padding-top: 30px

.button 
    display: flex
    align-items: center
    border: 0 
    cursor: pointer
    background-color: transparent
    &:focus, &:active
        outline:  1px solid #8c8c8c 

.content
    &__body

.new-post
    flex-basis: 800px
    margin-right: 30px
    &__form

.form
    border: 1px solid red
    &__add-title
        // max-width: 100%
        min-width: 100%
    &__add-text
        // max-width: 100%
        min-width: 100%
        resize: none
        min-height: 362px

    &__buttons
        border: 1px solid #000
        display: inline-flex
        *
            border: 1px solid #000
    &__publish
        margin-right: 36px
        border-radius: 4px
        background-color: #faad14
        &-icon
            margin-right: 6px
            fill: #fff
            width: 12px
            height: 14px
        p
    &__video
        margin-right: 12px
        border-radius: 4px
        border: 1px solid #ffc53d
        background-color: #ffffff
        &-icon
            fill: #ffc53d
            width: 14px
            height: 12px
        p
    &__photo
        border-radius: 4px
        border: 1px solid #ffc53d
        background-color: #ffffff
        &-icon
            fill: #ffc53d
            width: 14px
            height: 12px
        p