
@import fonts

@import variables

@import header

@import sidebar

@import media
@import media_index

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: "SFProDisplay", sans-serif

.container
    max-width: 1200px
    margin: 0 auto

.content
    background-color: $color-content-background
    &__body
        display: flex
        padding-top: 30px

.articles
    flex-basis: 800px
    margin-right: 30px
    &__item
        margin-bottom: 30px //оттолкнули слудующую статью, не от блока article, 
        //а от элемента articles__item
        //хоть это и один и тот же элемент, но блокам нельзя внешние параметры задавать
.article
    background-color: $color-article-background
    color: $color-article-text
    border: 1px solid #e8e8e8
    &__body
        margin-bottom: 22px
        padding: 35px 35px 0 35px
    &__header
        margin-bottom: 20px
        h1
            font-weight: 600
            font-size: 16px
            line-height: 24px
    &__text
        margin-bottom: 10px
        p
            font-size: 14px
            line-height: 22px
            &:not(:last-child)
                margin-bottom: 25px
    &__hashtags
        display: flex
        flex-wrap: wrap
        &-item
            font-size: 14px
            line-height: 22px
            text-decoration: none
            color: #bfbfbf
            &:not(:last-child)
                margin-right: 10px

    &__footer
        display: flex
        justify-content: space-between
        padding: 13px 35px
        border-top: 1px solid #e8e8e8
        background-color: $color-article-footer-background
    &__actions
    &__author
        display: flex
        &-text
            display: flex
            flex-direction: column
            align-items: flex-end
            margin-right: 9px
            font-size: 12px
            line-height: 20px
        &-nickname
            text-align: left
            text-decoration: none           
            color: #8c8c8c
        &-lastseen
            color: #bfbfbf

        &-image
            display: flex
            align-items: center             
            a
                display: flex
                align-items: center 
                img
                    width: 34px
                    height: 34px
                    border-radius: 4px

.actions //actions и блок и элемент
    display: flex
    flex-wrap: wrap
    align-items: center
    &__likes //кнопка  
        &-icon
            margin-right: 7px
            fill: #8c8c8c
        &-number        
    &__comments //кнопка
        &-icon
            fill: #8c8c8c
            margin-right: 7px
        &-number
    &__save
        &-icon
            fill: #8c8c8c
            
    &__share
        &-icon
            fill: #8c8c8c 
    &__button // общий стиль для кнопок
        display: flex
        align-items: center
        padding: 1px
        border: 0 
        cursor: pointer
        background-color: transparent
        color: #8c8c8c
        font-size: 14px
        line-height: 22px
        &:not(:last-child)
            margin-right: 30px
        &:focus, &:active
            outline:  1px solid #8c8c8c 

    &__icon // общий стиль для иконок в кнопках
        width: 20px
        height: 20px

