
@media (max-width: 1280px)
    .container
        width: 100%
        padding: 0 20px

    .content
        &__body

    .articles
        &__item

    .article

        &__body

        &__header
            h1

        &__text
            p
                &:not(:last-child)
        &__hashtags

            &-item
                &:not(:last-child)

        &__footer

        &__actions
        &__author
            &-text

            &-nickname

            &-lastseen

            &-image
                a
                    img
    .actions
        &__likes  
            &-icon
            &-number        
        &__comments
            &-icon
            &-number
        &__save
            &-icon
        &__share
            &-icon 
        &__button
            &:not(:last-child)
            &:focus, &:active
        &__icon 

@media (max-width: 991px)

    .content
        &__body
            padding-top: 96px
            

    .articles
        flex-basis: 100%
        margin-right: 0
        &__item

    .article

        &__body

        &__header
            h1

        &__text
            p
                &:not(:last-child)
        &__hashtags

            &-item
                &:not(:last-child)

        &__footer

        &__actions
        &__author
            &-text

            &-nickname

            &-lastseen

            &-image
                a
                    img
    .actions
        &__likes  
            &-icon
            &-number        
        &__comments
            &-icon
            &-number
        &__save
            &-icon
        &__share
            &-icon 
        &__button
            &:not(:last-child)
            &:focus, &:active
        &__icon 

@media (max-width: 767px)
    
    .content
        &__body

    .articles
        &__item

    .article

        &__body

        &__header
            h1

        &__text
            p
                &:not(:last-child)
        &__hashtags

            &-item
                &:not(:last-child)

        &__footer

        &__actions
        &__author
            &-text

            &-nickname

            &-lastseen

            &-image
                a
                    img
    .actions
        &__likes  
            &-icon
            &-number        
        &__comments
            &-icon
            &-number
        &__save
            &-icon
        &__share
            &-icon 
        &__button
            &:not(:last-child)
            &:focus, &:active
        &__icon 

@media (max-width: 480px)

    .content
        &__body

    .articles
        &__item

    .article
        &__body
            padding: 20px

        &__header
            h1

        &__text
            p
                &:not(:last-child)
        &__hashtags
            &-item
                &:not(:last-child)

        &__footer
            padding: 20px
        &__actions
            
        &__author
            &-text
            &-nickname
            &-lastseen
                text-align: right
            &-image
                a
                    img
    .actions
        &__likes  
            &-icon
            &-number        
        &__comments
            &-icon
            &-number
        &__save
            &-icon
        &__share
            &-icon 
        &__button
            &:not(:last-child)
                margin-right: 10px
            &:focus, &:active
        &__icon 

@media (max-width: 360px)

    .content
        &__body

    .articles
        &__item

    .article
        &__body
            padding: 15px
        &__header
            h1

        &__text
            p
                &:not(:last-child)
        &__hashtags

            &-item
                &:not(:last-child)

        &__footer
            flex-wrap: wrap
            padding: 15px

        &__actions
            // border: 1px solid #000
            margin-bottom: 0
            
            
        &__author
            // flex-grow: 1
            // justify-content: flex-end
            &-text
                justify-content: center
            &-nickname
            &-lastseen
            &-image
                a
                    img
    .actions
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 10px
        &__likes  
            &-icon
            &-number        
        &__comments
            &-icon
            &-number
        &__save
            &-icon
        &__share
            &-icon 
        &__button
            &:not(:last-child)
                margin-right: 0
            &:focus, &:active
        &__icon 





    